@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0c0117;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 40px 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
  padding: 0 80px;
}

.inset-shadow-custom {
  box-shadow: inset 4px 6px 10px 4px rgba(167, 93, 243, 0.2);
}

.shadow-best-seller {
  box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 0.25);
}

.shadow-footer {
  box-shadow: inset 7px 11px 18px 7px rgba(167, 93, 243, 0.2);
}

.rounded-28 {
  border-radius: 28px;
}

.burger-btn {
  display: none !important;
}

@layer utilities {
  .before-round-white,
  .before-round-black,
  .before-round-yellow {
    position: relative;
  }
  .before-round-white::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .before-round-black::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #0c0117;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .before-round-yellow::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fde68a;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}

@media screen and (max-width: 1279px) {
  body {
    padding: 51px 0;
  }

  .container {
    width: 393px;
    padding: 0 40px;
  }

  .burger-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
